.button {
  background: #66bdf4;
  color: #fafdff;
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 5px 20px rgba(102, 189, 244, 0.4);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}