.postCardContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap:1rem;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	padding: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
			0 5px 5px -3px rgba(0, 0, 0, 0.2);
	}
	
	.postCardHeader{
		width: 100%;
		display: inline-flex;
		align-items: center;
		gap: 1rem;

		.title {
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}
	}

	.author {
		margin-bottom: 0.5rem;
	}

	.date {
		margin-bottom: 0.5rem;
	}

	.text {
		display: flex;
		flex-direction: column;
	}

	.content {
		width: 100%;
	}
}

.comments {
	display: flex;
	align-items: center;

	.commentCount {
	}
}
