.main {
  background-color: #f6f7f9;
}

// write style for layout component that will be used in Layout.js
// component takes all height 
//content takes all height except footer
//footer stays at the bottom of the page
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


