.inputContainer {
	width: 100%;
	gap: 10px;
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	
	input {
		width: 178px;
	}

	input[type="file" i]::-webkit-file-upload-button {
		background-color: #fff;
		border-radius: 5px;
		padding: 5px;
		transition: background-color 0.3s ease-in-out;
		color: #0091ff;
		cursor: pointer;
		outline: none;
		border: 1px solid #0091ff;
		margin-right: 10px;

		&:hover{
			background-color: #0091ff;
			color: #fff;
		}
	}

	label {
		font-size: 1.2rem;
		font-weight: 500;
		color: #333;

		&:first-letter{
			text-transform: uppercase;
		}
	}
}
