.header {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;

  &_buttons,
  &_logo {
    &__wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  &_buttons {
    &__button {
      margin: 0 5px;
      background-color: #0079d3;
      color: white;
      padding: 10px 16px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &_modal {
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 7px 20px 2px rgb(0 0 0 / 40%);
    height: 650px;
    left: 50%;
    overflow: hidden;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    z-index: 111;
    border-radius: 12px;
    height: 640px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 70px 45px;
      box-sizing: border-box;
    }

    &__close {
      position: absolute;
      right: 16px;
      top: 16px;
    }
  }
}
