.logo {
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

.st0 {
  fill: #ff4500;
}

.st1 {
  fill: #ffffff;
}

.st3 {
  display: inline;
  fill: none;
  stroke: #d8d8d8;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st2 {
  display: none;
}
