.infoWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 240px;
  color: #1a1a1b;

  .title {
    font-size: 2.6rem;
    margin-bottom: 10px;
  }

  .text {
    margin: 1rem 0 2rem;
    max-width: 390px;
    text-align: center;
    line-height: 1.4rem;
    color: #3c3c3f;
  }
}
